<app-employee-details-layout>
    <div class="container mt-3">
        <app-employee-analytics></app-employee-analytics>
        <div class="row mt-4">
            <div class="col-8">
                <app-employee-team></app-employee-team>
            </div>
            <div class="col-4">
                <app-employees-comparison></app-employees-comparison>
                <app-employee-expenses></app-employee-expenses>
            </div>
        </div>
    </div>
</app-employee-details-layout>